/* global styles */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root 
{
    /* background colors */
    --dark-color:#1f2937;
    --cta-color:#3882f6;
    --quote-color:#e5e7eb;
    --hero-font-color: #f9faf8;
    /* fonts */
    --font:'roboto', sans-serif;
    /* padding */
    --padding: 0 8rem;
}

body 
{
    background-color: var(--hero-font-color);
}



.hero-main 
{
    font-size: 48px;
    font-family: var(--font);
    color: var(--hero-font-color);
    font-weight: 900;
}

.hero-secondary,
.header-link  
{
    font-family: var(--font);
    font-size: 18px;
    color: var(--quote-color);
}

.info-header-text 
{
    font-family: var(--font);
    font-size: 36px;
    color: var(--dark-color);
    font-weight: 900;
}

.quote-text 
{
    font-family: var(--font);
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: var(--dark-color);
}

/* header */
nav 
{
    background-color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
    height: 3rem;
}

ul 
{
    display: flex;
    gap: 1rem;
    list-style: none;
    align-items: baseline;
    padding: .5rem;
}

.logo-header 
{
    font-family: var(--font);
    font-size: 24px;
    color: var(--hero-font-color);
    text-decoration: none;
}

.header-link 
{
    text-decoration: none;
}

/* hero section */

.hero 
{
    background-color: var(--dark-color);
}

.hero-wrapper 
{
    display: flex;
}

.text-container,
.img-container
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    flex-basis: 50%;
    flex-grow: 1;
    margin: 2rem 0;
    gap: 1rem;
    padding: var(--padding);
}

.text-container 
{
    padding-right:2rem;
}

.img-container {
    align-items: center;
    padding-left: 2rem;
}

.block-img {
    width: 100%;
    border-radius: .75rem;
}

.caption 
{
    position: relative;
    bottom: 45px;
}

.caption, 
a {
    color: var(--quote-color);
    font-size: .75rem;
    color: var(--quote-color);
    font-family: var(--font);
}

.btn 
{
    width: 10rem;
    background-color: var(--cta-color);
    border-radius: .5rem;
    padding: .5rem;
    cursor: pointer;
    text-transform: capitalize;
}

/* features section */

.features {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    gap: 1.75rem;
}



.features-wrapper 
{
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    gap: 1rem;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.card 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1rem;
    gap: 1rem;
}

.card-img 
{
    width: 100%;
    border: 3px solid var(--cta-color);
    border-radius: .75rem;
}

.card-body 
{
    font-family: var(--font);
    color: var(--dark-color);
    font-size: 1rem;
}

/* quote section */

.quote-wrapper{
    width: 100%;
    height: 50vh;
    gap: 1.75rem;
    background-color: var(--quote-color);
    display: flex;
    align-items: center;
    justify-content: center;

}

blockquote 
{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem; 
}

cite 
{
    align-self: flex-end;
    font-size: 1rem;
    font-family: var(--font);
}

/*  CTA section */

.cta-wrapper 
{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--padding);
    margin: 5rem 0;
}

.cta {
    padding: 5rem;
    display: flex;
    flex-direction: row;
    background-color: var(--cta-color);
    gap: 2rem;
    border-radius: .5rem;
}

.cta-text {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    padding: .5rem 2rem;
}

.btn-container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 2rem;
}












